body{
     /*background-image: url("https://image.stern.de/8965844/t/4i/v3/w1440/r1.7778/-/musik-streaming.jpg");
    background-repeat: no-repeat;
    background: local;
    size: 100px;*/
        background-color:black;
}

